body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.noise {
  scale: 1.1;
  filter: url(#noise);
}

@keyframes strobo {
  0% {
    filter: invert(1);
  }
  50% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}
