div {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  font-weight: bold;
  color: transparent;
  line-height: 0;
  white-space: nowrap;
  -webkit-text-stroke: 4px;
  -webkit-text-stroke-color: white;
}
