html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

div {
  display: block;
  margin: 0 auto;
  width: max-content;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 100vh;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-50% - 6vw));
  }
}
